/*TODO Sort this out SMACSS*/

/*
#B7D3F2 aqua
#4C525A grey
#333 black
#D9D0DE light pink
#ECECEC off ivory
*/

*{
  margin:0;
}
header{
  background-color:cadetblue;
}
header h1,header h3{
  text-align: center;
}
section{
  box-sizing:border-box;
  width:80%;
  margin:0 auto;
}